TUSHARE_TOKEN=your_tushare_token_here
VOLCENGINE_API_KEY=your_volcengine_api_key_here
VOLCENGINE_MODEL=glm-5.1
VOLCENGINE_BASE_URL=https://open.volcengineapi.com/api/v3
FLASK_SECRET_KEY=change-this-to-a-random-string
FLASK_PORT=5000
